#up{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    z-index: 1000;
    position: fixed;
    background: #AFEEEE;
    left: 40%;
}
.header{
    width: 400px;
    height: 50px;
    background:#01A9DB;
    text-align: center;
}
.footer{
    width: 400px;
    height: 150px;
    text-align: center;
}
.footer button{
    margin-top:20%;
    width:100px;
    height:35px;
    background:#0000FF;
    color:white;
}
