<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" th:href="@{/icons/all.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/css_home.css}">
    <title>Title</title>

</head>
<body>
<!--<script>
    var d = $('#index').val();
    if(d%2 ==0){
        $('.table td').css('background','#99CCFF');
    }
</script>-->
    <div class="design-container" >
        <div th:include="fragments/header :: header"></div>
        <table class="table">
            <thead class="thead-dark">

            <tr class ="th" >
                <th scope="col" style="">STT</th>
                <th scope="col" >Solution</th>
                <th scope="col">GEM's in Development process</th>
                <th scope="col">Regianl of Product Deployment</th>
                <th scope="col">Serve in industries</th>
                <th scope="col">Model</th>
                <th scope="col">Commerciallzed status</th>
                <th scope="col">Primary Benefits(Outstand Selling Points)</th>
                <th scope="col">Tech Stack</th>
                <th scope="col">Reference</th>
                <th scope="col">Status</th>
                <th scope="col">Duration Of Development</th>
                <th scope="col">BA/Owner</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list,status :${solution.pageList}">
                <td th:text="${status.index+1}" id="index"></td>
                <td th:text="${list.name}"></td>
                <td >
                    <!-- IF CUSTOMER IS ANONYMOUS -->
                    <div th:if="${list.role_gem}">
                        <div>Partial</div>
                    </div>
                    <!-- ELSE -->
                    <div th:unless="${list.role_gem}">
                        <div>Entire Soluton</div>
                    </div>

                </td>
                <td th:text="${list.regional}"></td>
                <td th:text="${list.serve_industries}"></td>
                <td th:text="${list.model}"></td>
                <td th:text="${list.commercialized_status}"></td>
                <td th:text="${list.primary_benefits}"></td>
                <td th:text="${list.tech_stack}"></td>
                <td th:text="${list.reference}"></td>
                <td>

                    <div th:if="${list.status}">
                        <div>Not done</div>
                    </div>
                    <!-- ELSE -->
                    <div th:unless="${list.status}">
                        <div>Done</div>
                    </div>

                </td>
                <td th:text="${list.duration_development}"></td>
                <td th:text="${list.owner}"></td>
                <td><a th:href="${'/delete/'+ list.id}"><i class="fa fa-trash"></i></a></td>
                <td><a th:href="${'/edit/'+list.id}"><i class="fa fa-edit"></i></a></td>
            </tr>

            </tbody>
        </table>

        <ul class="pagination" style="margin-left: 45%" >
            <li
                    th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/solution}">First</a>
            </li>
            <li
                    th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                <a class="page-link" aria-label="Previous"
                   th:href="@{|${baseUrl}${currentIndex - 1}|}"
                   title='Go to previous page'><span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span></a>
            </li>
            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                <a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
                        th:text='${item}'>1</span>
                </a>
            </li>
            <li
                    th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                <a class="page-link" aria-label="Next"
                   th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
                        aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
            </li>
            <li
                    th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
            </li>
        </ul>

    </div>
    <script>
        var d = document.getElementById('index').value;
        if(d%2 ==0){
            $('.table td').css('background','#99CCFF');
        }
    </script>
</body>
</html>